*{
    margin: 0px;
    padding: 0px;
}

/*Header css file*/

.header_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    border: 2px solid blue;
}
.logo_part{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo{
    padding-right: 10px;
}
.text_logo{
    font-size:25px;
    font-weight: bold;
}
.logo_color{
    color: rgb(241, 66, 159);
}
.menus{
    display: flex;
    list-style: none;
    padding-bottom: 15px;

}
.menu{
    padding-right: 20px;
    cursor: pointer;
   
}

/*Banner css file*/

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.head1{
    font-size: 40px;
}
.head2{
    color:rgb(235, 79, 165);
    font-size: 60px;
    padding-bottom: 10px;
}
.paragraph1{
    font-size: 15px;
}
.btn1{
    background-color: deeppink;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    border: 0px;
}
.btn2{
    background-color: rgb(54, 205, 235);
    color: white;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    border: 0px;
}
.banner-img{
    width: 500px;
    padding-top: 50px;
}
/*Banner css file 2*/
.banner1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner-img2{
    width: 500px;
}
.btn3{
    width: 120px;
}
.head3{
    font-size: 30px;
    padding-bottom: 10px;
    color: rgb(238, 90, 169);
   
}

.head4{
    text-align: center;
    font-size: 30px;
    padding-top: 80px;
    padding-bottom: 20px;
}
.funny{
    padding: 10px;
    height: 250px;
    width: 220px;
}
.paragraph3{
    text-align: center;
}
.paragraph4{
    padding-left: 10px;
}
.banner2{
    display: flex;
    padding: 20px  200px 40px 200px;
}
.banner2{
    height: 200px;
}