*{
    margin: 0px;
    padding: 0px;
}

/*Header css file*/

.header_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo_part{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
}
.logo{
    padding-right: 10px;
}
.text_logo{
    font-size:25px;
    font-weight: bold;
}
.logo_color{
    color: rgb(241, 66, 159);
}
.menus{
    display: flex;
    list-style: none;
   

}
.menu{
    padding-right: 20px;
    cursor: pointer;
    padding-top: 6px;
   
}
.head_btn{
    background-color: rgb(234, 239, 238);
    width: 170px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: 0px;
    text-align: center;
    padding-top: 8px;
}

/*Banner css file*/

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(241, 243, 246);
}
.head1{
    font-size: 40px;
}
.head2{
    color:rgb(235, 79, 165);
    font-size: 60px;
    padding-bottom: 10px;
}
.paragraph1{
    font-size: 15px;
}
.btn1{
    background-color: deeppink;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    border: 0px;
}
.btn2{
    background-color: rgb(54, 205, 235);
    color: white;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    border: 0px;
}
.banner-img{
    width: 500px;
    padding-top: 50px;
}
/*Banner css file 2*/
.banner1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner-img2{
    width: 500px;
}
.btn3{
    width: 120px;
}
.head3{
    font-size: 30px;
    padding-bottom: 10px;
    color: rgb(238, 90, 169);
   
}

.head4{
    text-align: center;
    font-size: 30px;
    padding-top: 80px;
    padding-bottom: 20px;
}
.funny{
    padding: 10px;
    height: 250px;
    width: 220px;
}
.paragraph3{
    text-align: center;
}
.paragraph4{
    padding-left: 10px;
}
.banner2{
    display: flex;
    padding: 20px  200px 40px 200px;
}
.banner2{
    height: 200px;
}
/* Careers*/
.banner4{
    padding-left: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(249, 32, 148);
    padding-top: 100px;
}
.btn4{
    background-color: rgb(245, 248, 248);
    color:rgb(245, 132, 151) ;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    border: 0px;
}
.career_img{
    width: 700px;
}

/*icon part*/
.icon{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.icon_img{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
/* footer*/
.foot{
    background-color: rgb(38, 38, 116);
}
.logo_part{
    padding-top: 30px;
}
.foot_h4 {
    display: flex;
    justify-content: center;
    padding: 50px 0px 30px 5px;
}
.foot_contant{
    padding-left: 50px;
}
.foot_h5{
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}
.foot_contant2{
    padding-left: 20px;
    padding-right: 20px;
}
.foot_paragraph{
    text-align: center;
    padding-bottom: 80px;
}

/*CSS Media Query*/
@media  and(max-width:576) {
    .menus{
        flex direction: column;
    }
    
}