*{
    margin: 0px;
    padding: 0px;
}

/*Header css file*/
.logo_part1{
    display: flex;
    align-items: center;
}
.logo1{
    padding-right: 10px;
    width: 55px;
    height: 25px;
}
.text_logo1{
    font-size:35px;
    font-weight: bold;
}
.header_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.logo_part{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
}
.logo{
    padding-right: 10px;
    width: 55px;
    height: 25px;
}
.text_logo{
    font-size:35px;
    font-weight: bold;
}
.logo_color{
    color: rgb(241, 66, 159);
}
.menus-1{
    display: flex;
    list-style: none;
}
.fa-brands{
    padding-right: 5px;
    padding-left: 5px;
}
.menu{
    padding-right: 20px;
    cursor: pointer;
    padding-top: 6px;
   
}
.head_btn{
    background-color: rgb(234, 239, 238);
    width: 170px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: 0px;
    text-align: center;
    padding-top: 8px;
}

/*Banner css file*/

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(241, 243, 246);
}
.head1{
    font-size: 40px;
}
.head2{
    color:rgb(235, 79, 165);
    font-size: 60px;
    padding-bottom: 10px;
}
.paragraph1{
    font-size: 15px;
}
.btn1{
    background-color: deeppink;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    border: 0px;
    box-shadow: 5px 5px 5px rgba(41, 39, 39, 0.2);
}
.btn2{
    background-color: rgb(54, 205, 235);
    color: white;
    width: 110px;
    height: 40px;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    border: 0px;
    box-shadow: 5px 5px 5px rgba(41, 39, 39, 0.2);
}
.banner-img{
    width: 500px;
    padding-top: 50px;
}
/*Banner css file 2*/
.banner1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner-img2{
    width: 500px;
}
.btn3{
    width: 120px;
}
.head3{
    font-size: 30px;
    padding-bottom: 10px;
    color: rgb(238, 90, 169);
   
}
/*online game funny video section*/
.head4{
    text-align: center;
    font-size: 30px;
    padding-top: 80px;
    padding-bottom: 20px;
}
.banner2{
    display: flex;
    padding: 20px  200px 40px 200px;
    height: 400px;
   align-items: center;
}
.funny{
    padding: 10px;
    height: 260px;
    width: 220px;
}
.funny3, .paragraph43{
    padding-bottom: 12px;
}
.paragraph3{
    text-align: center;
}
.paragraph4{
    padding-left: 10px;
}
/*banner23,no download part*/
.banner23{
    display: flex;
    height: 650px;
    justify-content: center;
    margin-right: 245px;
}
.banner23_img1{
    position: absolute;
    z-index: 1;
    height: 500px;
    width: auto;
    
}
.banner23_img2{
    position: relative;
    z-index: 2;
    height: 265px;
    width: 215;
    top: 350px;
    right: 150px;
}
.no_download_para{
    padding-right: 200px;
    padding-top: 150px;
}
/*banner3,play game online everywhere*/
.banner3{
    display: flex;
    height: 650px;
    justify-content: center;
}
.banner3_img1{
    position: absolute;
    z-index: 1;
    height: 500px;
    width: auto;
    
}
.banner3_img2{
    position: relative;
    z-index: 2;
    height: 265px;
    width: 215;
    top: 350px;
    left: 460px;
}
.play_game_para{
    padding-left: 500px;
    padding-top: 150px;
}
/* Careers*/
.banner4{
    padding-left: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(249, 32, 148);
    margin-top: 50px;
}
.btn4{
    background-color: rgb(245, 248, 248);
    color:rgb(245, 132, 151) ;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    border: 0px;
}
.career_img{
    width: 700px;
}

/*icon part*/
.icon{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
   
}
.icon_img{
    display: flex;
    align-items: center;
    padding-left: 20px;
    
}
.icone_img1{
    height: 40px;
    width: auto;
    padding-right: 10px;
}
/* footer*/
.foot{
    background-color: rgb(38, 38, 116);
}
.logo_part{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_logo{
    padding-left: 25px;
    padding-top: 18px;
}
.foot-logo{
    color: white;
}
.foot_h4 {
    display: flex;
    justify-content: center;
    padding: 50px 0px 30px 5px;
    color: white;
}
.foot_contant{
    padding-left: 50px;
}
.foot_h5{
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    color: rgb(153, 142, 142);
}
.foot_contant2{
    padding-left: 20px;
    padding-right: 20px;
}
.foot_paragraph{
    text-align: center;
    padding-bottom: 80px;
    color: rgb(153, 142, 142);
}

/*CSS Media Query for small device*/
@media screen and (max-width:576px) { 
    .header_container{
        flex-direction:column;
    }
    .menus-1{
        flex-direction: column;
    }
    .banner, .banner1, .head4, .foot_h4{
        flex-direction: column;
        margin-top: 20px;
        width: 100%;
    }
    .banner2{
        flex-direction: column;
    }
    .banner23, .no_download_para, .banner3{
        flex-direction: column;
        display: block;
    }
}
/*CSS Media Query for medium device*/
@media screen and (min-width:577px) and (max-width:960px) {
    
}